@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One|Open+Sans');

body, ul, li {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    background-color: #00acee;
    color: #ffffff;
}

h1 {
    font-family: 'Racing Sans One', 'Helvetica', 'Arial', sans-serif;
}

a {
    text-decoration: none !important;
    font-weight: 800;
}

.cover-container {
    height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.list-group-item {
    background-color: inherit;
    color: inherit;
    font-size: .9rem;
}

.list-group-item:hover {
    background-color: #ffffff17;
}